@{
    ViewData["Title"] = "Informations";
}

<a asp-action="Index"><img class="d-block mx-auto mb-4" src="/img/Logo.png" alt="logo"></a>

<div class="col-lg-8 py-4 mx-auto">
    <p class="fs-3 text-white">Le Big Birdie est un quiz développé pour la chaine Twitch de <a class="link-info" href="https://www.twitch.tv/leaprima" target="_blank">Leaprima</a> par et pour sa commu.</p>
            
    <p class="fs-3 text-white">Liste des participants au projet : Shugah42, Givr_, Koztikoz, HellRay09 et Antoyne.</p>


</div>