@model BigBirdie.Models.QuizzItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuizzItem</h4>
<hr />
<div class="row text-white">
    <form enctype="multipart/form-data" asp-action="import" method="post">
        <input type="file" id="file" name="file" accept=".json">
        <button type="submit" class="btn btn-primary">valider</button>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
